<% if flash[:notice] %><p id="notice"><%= notice %></p><% end %>

<p>
  <b>Title:</b>
  <%= @banner.title %>
</p>

<p>
  <b>Url:</b>
  <%= @banner.url %>
</p>

<p>
  <b>Alt:</b>
  <%= @banner.alt %>
</p>


<%= link_to 'Edit', edit_banner_path(@banner) %> |
<%= link_to 'Back', banners_path %>
