<div class="minimenu">
	<ul>
		<li id="home_minimenu_link"><%= link_to 'Home', root_path %></li>
		<li><%= link_to 'Pubblicità', :controller => :sito, :action => :pubbli %></li>
		<li><%= link_to 'Disclaimer', :controller => :sito, :action => :disclaimer %></li>
		<li><%= link_to 'Privacy', :controller => :sito, :action => :privacy %></li>
		<li><%= link_to 'Contatti', :controller => :sito, :action => :contatti %></li>
		<li><%= link_to 'Chi Siamo', :controller => :sito, :action => :chisiamo %></li>	
	</ul>
</div>